# These can be generated with the following instructions: 
# https://support.kraken.com/hc/en-us/articles/360000919966-How-to-generate-an-API-key-pair- 
# NOTE: This API key should be configured with "Query Funds" and "Create & Modify Orders" enabled
KRAKEN_API_KEY=<your kraken api key>
KRAKEN_API_SECRET=<your kraken api secret>

# If this is set to `true`, will only validate a purchase order to Kraken but will not execute instructions
# Set this to `false` only when you're happy and confident with your configuration
VALIDATE_TRANSACTION_ONLY=true

# Optional telegram integration.
# For help setting this up, refer to https://core.telegram.org/bots/api
# Uncomment and fill out the below lines to enable
# TELEGRAM_BOT_TOKEN=<bot id>:<bot api key>
# TELEGRAM_CHAT_ID=<telegram chat id>